torch==2.3.1
torchvision==0.18.1
numpy==1.26.1
transformers==4.54.1
Pillow
huggingface_hub
einops
safetensors
peft==0.17.0
gradio==5.38.0
viser==1.0.0
tqdm
hydra-core
fvcore
iopath
wcmatch
omegaconf
opencv-python
scipy
requests
trimesh
matplotlib
pydantic==2.11.7
tensorboard
